---
import { Icon } from "astro-icon/components";
---

<h2
  class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white"
>
  <Icon name="folder" class="w-8 h-8" />
  Proyectos
</h2>
