---
import { Icon } from "astro-icon/components";
---

<h2
  class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white"
>
  <Icon name="tecnologia" class="w-8 h-8" />
  Tecnologías
</h2>
<div class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3">
  <div
    class="p-4 border rounded-lg bg-gray-800 text-white transition-transform transform hover:scale-105"
  >
    <!-- aqui falta subtitulo -->
    <h3 class="text-xl font-bold mb-2"></h3>
    <ul class="list-disc list-inside">
      <li
        class="py-1 px-2 rounded-full bg-blue-900 text-white mb-2 flex items-center"
      >
        <Icon name="html5" class="mr-2" style="width: 25px; height: 25px;" />
        <span>HTML</span>
      </li>
      <li
        class="py-1 px-2 rounded-full bg-blue-900 text-white mb-2 flex items-center"
      >
        <Icon name="css_old" class="mr-2" style="width: 25px; height: 25px;" />
        CSS
      </li>
      <li
        class="py-1 px-2 rounded-full bg-blue-900 text-white mb-2 flex items-center"
      >
        <Icon
          name="javascript"
          class="mr-2"
          style="width: 25px; height: 25px;"
        />
        JavaScript
      </li>
      <li
        class="py-1 px-2 rounded-full bg-blue-900 text-white mb-2 flex items-center"
      >
        <Icon
          name="typescript"
          class="mr-2"
          style="width: 25px; height: 25px;"
        />
        TypeScript
      </li>
      <li
        class="py-1 px-2 rounded-full bg-blue-900 text-white mb-2 flex items-center"
      >
        <Icon name="angular" class="mr-2" style="width: 25px; height: 25px;" />
        Angular
      </li>
      <li
        class="py-1 px-2 rounded-full bg-blue-900 text-white mb-2 flex items-center"
      >
        <Icon
          name="taildwind"
          class="mr-2"
          style="width: 25px; height: 25px;"
        />
        Tailwind CSS
      </li>
      <li
        class="py-1 px-2 rounded-full bg-blue-900 text-white mb-2 flex items-center"
      >
        <Icon
          name="Astro_dark"
          class="mr-2"
          style="width: 25px; height: 25px;"
        />
        Astro
      </li>
      <li
        class="py-1 px-2 rounded-full bg-blue-900 text-white mb-2 flex items-center"
      >
        <Icon name="flowbite" class="mr-2" style="width: 25px; height: 25px;" />
        Flowbite
      </li>
    </ul>
  </div>
  <div
    class="p-4 border rounded-lg bg-gray-800 text-white transition-transform transform hover:scale-105"
  >
    <!-- aqui falta subtitulo -->

    <h3 class="text-xl font-bold mb-2"></h3>
    <ul class="list-disc list-inside">
      <li class="py-1 px-2 rounded-full bg-green-900 text-white flex mb-2">
        <Icon name="nodejs" class="mr-2" style="width: 25px; height: 25px;" />
        Node.js
      </li>
      <li class="py-1 px-2 rounded-full bg-green-900 text-white flex mb-2">
        <Icon
          name="expressjs"
          class="mr-2"
          style="width: 25px; height: 25px;"
        />
        Express.js
      </li>
      <li class="py-1 px-2 rounded-full bg-green-900 text-white flex mb-2">
        <Icon
          name="espressql"
          class="mr-2"
          style="width: 25px; height: 25px;"
        />
        Microsoft SQL Server
      </li>
      <li class="py-1 px-2 rounded-full bg-green-900 text-white flex mb-2">
        <Icon
          name="mysqls"
          class="mr-2 bg-blue-700 text-white rounded-md"
          style="width: 25px; height: 25px;"
        />
        MySQL
      </li>
      <li class="py-1 px-2 rounded-full bg-green-900 text-white flex mb-2">
        <Icon name="mongo" class="mr-2" style="width: 25px; height: 25px;" />
        MongoDB
      </li>
      <li class="py-1 px-2 rounded-full bg-green-900 text-white flex mb-2">
        <Icon name="c#" class="mr-2" style="width: 25px; height: 25px;" />
        C#
      </li>
    </ul>
  </div>
  <div
    class="p-4 border rounded-lg bg-gray-800 text-white transition-transform transform hover:scale-105"
  >
    <!-- aqui falta subtitulo -->
    <h3 class="text-xl font-bold mb-2"></h3>
    <ul class="list-disc list-inside">
      <li class="py-1 px-2 rounded-full bg-yellow-900 text-white flex mb-2">
        <Icon name="git" class="mr-2" style="width: 25px; height: 25px;" />
        Git
      </li>
      <li class="py-1 px-2 rounded-full bg-yellow-900 text-white flex mb-2">
        <Icon name="github" class="mr-2" style="width: 25px; height: 25px;" />
        GitHub
      </li>
      <li class="py-1 px-2 rounded-full bg-yellow-900 text-white flex mb-2">
        <Icon name="docker" class="mr-2" style="width: 25px; height: 25px;" />
        Docker
      </li>
      <li class="py-1 px-2 rounded-full bg-yellow-900 text-white flex mb-2">
        <Icon name="postman" class="mr-2" style="width: 25px; height: 25px;" />
        Postman
      </li>
    </ul>
  </div>
</div>

<style>
  h1 {
    background: linear-gradient(
      to right,
      #ffffff,
      #ffffff,
      #48cae4,
      #90e0ef,
      #45ffd0
    );
    background-size: 200% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: backgroundAnimation 4s linear infinite;
    font-family: "Sanchez", serif;
  }

  @keyframes backgroundAnimation {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }
  strong {
    color: #fce667;
  }
</style>
